.document-link {
  display: block;
  margin: 0.3rem 0;
}

.document-link a {
  /* Must be flex to scale label correctly. */
  display: inline-flex;
  flex-direction: row;
}

.document-link .label {
  padding: 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--link-bg);
  color: var(--fg);
}