.board-member-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.board-member-card img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

.board-member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board-member-info .name {
  margin-bottom: 0.1rem;
  color: var(--heading-color);
  font-size: 1.175em;
  font-weight: bold;
}

.board-member-info .position {
  margin-bottom: 0.6rem;
}