.new-member-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.new-member-form .field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.new-member-form .field-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.new-member-form .field-row .field {
  flex-grow: 1;
}

.new-member-form button[type='submit'] {
  margin-top: 1rem;
}