:root {
  --bg: #121212;
  --fg: #ffffff;

  --header-fg: #3f3;
  --header-bg: #020;

  --nav-button-border: #3f3;
  --nav-button-bg: #3f3;
  --nav-button-fg: #121212;
  --nav-button-hover-bg: transparent;
  --nav-button-hover-fg: #3f3;

  --section-bg: #1a1a1a;
  --section-fg: #ffffff;

  --heading-color: #3f3;
  --link-bg: #333;
  --link-fg: #3f3;
  --link-hover-fg: #aaffbf;

  --input-fg: #3f3;
}