:root {
  --main-bg-color: #121212;
  --text-color: #33ff33;
  --footer-gradient-start: #0f0f0f;
  --footer-gradient-end: #232323;
  --button-bg-color: #232323;
  --hover-bg-color: #33ff33;
  --nav-button-bg-color: #202020;
  --section-bg-color: #181818;
  --input-bg-color: #333;
  --border-color: #444;
  --hover-text-color: #000;
  --link-hover-color: #aaffbf;
  --body-bg-color: #101010;
  --link-bg-color: #333;

  --heading-color: #33ff33;
  --paragraph-color: #e1ffeb;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

header {
  padding: 20px 0;
  background-color: #121212;
  background-image: linear-gradient(270deg, #002200, #121212, #002200);
  background-size: 200% 200%;
  animation: subtleFlow 30s ease infinite;
  color: var(--text-color);
  text-align: center;
  font-size: calc(10px + 2vmin);
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 1rem;
}

/*
ABOUT SECTION STYLING
*/

.about-section {
  padding: 20px;
  background: var(--section-bg-color);
  margin: 20px;
  border-radius: 8px;
  color: var(--text-color);
}

.about-section ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.about-section li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.about-section li::before {
  content: "📄";
  position: absolute;
  left: 0;
}

.about-section a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.about-section a:hover {
  color: var(--link-hover-color);
}

.about-section .link {
  background-color: var(--link-bg-color);
  color: var(--paragraph-color);
  padding: 3px 6px;
  border-radius: 4px;
  font-style: normal;
}

.about-section li:hover::before {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.about-section b {
  color: var(--paragraph-color);
}

.about-section p {
  color: var(--paragraph-color);
}

.about-section i {
  color: var(--paragraph-color);
}

/*
CONTACT SECTION STYLING
*/

.board-members {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.board-member {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 640px;
}

.profile-img {
  border-radius: 50%;
  width: 128px;
  height: 128px;
  object-fit: cover;
  margin-right: 20px;
}

.member-info {
  width: 50%;
  text-align: left;
}

.member-info h3 {
  margin: 0;
  color: var(--primary-color);
}

.member-info p {
  margin: 4px 0;
}

.member-info a {
  color: var(--accent-color);
  text-decoration: none;
  margin-top: 5px;
  display: inline-block;
}

@media (max-width: 768px) {
  .board-members {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .board-member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 640px;
  }
  
  .profile-img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .member-info {
    width: 50%;
    text-align: left;
  }
  
  .member-info h3 {
    margin: 0;
    font-size: 16px;
    color: var(--primary-color);
  }
  
  .member-info p {
    margin: 4px 0;
  }
  
  .member-info a {
    color: var(--accent-color);
    text-decoration: none;
    margin-top: 5px;
    display: inline-block;
    font-size: small;
  }
}

/*
HEADER STYLING
*/

nav .button {
  background: var(--nav-button-bg-color);
  border: none;
  border-radius: 4px;
  font-size: 24px;
  color: var(--text-color);
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

nav .button:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
  transform: scale(1.05);
}

/*
STYLING FOR MEMBER SECTION
*/

.member-section {
  padding: 20px;
  background: var(--section-bg-color);
  margin: 20px auto; /* Center the section horizontally */
  border-radius: 8px;
  color: var(--text-color);
  max-width: 600px; /* Limit the width of the section for better centering */
  text-align: center; /* Center the text within the section */
}

.member-section label {
  display: block;
  color: var(--text-color);
  margin-bottom: 10px;
  text-align: left;
}

.member-section input {
  margin: 0 auto 20px auto;
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  display: block;
  width: calc(100% - 22px);
}

.member-section button {
  padding: 10px 20px;
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  margin-top: 20px;
  font-size: 18px;
  width: 100%;
  display: inline-block;
}

.member-section button:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transform: translateY(-2px);
}

.member-section h1, .member-section h2 {
  color: var(--heading-color);
  margin-bottom: 20px;
}

.member-section p {
  color: var(--paragraph-color);
  text-align: left;
  margin-bottom: 20px;
}
